body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #A7E53A;
}

.quem-somos{
    background-color: #9ADBE8;
    color: white;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #DAB43C;
}

.bg-footer{
    background-color: black;
    color: white;
}